# Movie Rating Hypothesis testing

#### Grading:


- Code: 90 pts
- Markdown Documentation: 10 pts

In this assignment we are going prove of disprove a hypothesis

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from IPython.display import HTML, display

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 25)

In [2]:
%matplotlib inline

##### Read and cleanup the movie data

In [3]:
def get_movie_data():
    
    unames = ['user_id','gender','age','occupation','zip']
    users = pd.read_table(os.path.join('../data','users.dat'), 
                          sep='::', header=None, names=unames, encoding='latin-1')
    
    rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
    ratings = pd.read_table(os.path.join('../data', 'ratings.dat'), 
                            sep='::', header=None, names=rnames, encoding='latin-1')
    
    mnames = ['movie_id', 'title','genres']
    movies = pd.read_table(os.path.join('../data', 'movies.dat'), 
                           sep='::', header=None, names=mnames, encoding='latin-1')

    return users, ratings, movies

users, ratings, movies = get_movie_data()

tmp = movies.title.str.extract('(.*) \(([0-9]+)\)')
tmp.apply(lambda x:x[0] if len(x) > 0 else None)
tmp.apply(lambda x: x[0][:40] if len(x) > 0 else None)

movies['year'] = tmp[1]
movies['short_title'] = tmp[0]

print(movies.head())

C:\Users\varsh\AppData\Local\Temp\ipykernel_3052\2599110875.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_table(os.path.join('../data','users.dat'),
C:\Users\varsh\AppData\Local\Temp\ipykernel_3052\2599110875.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_table(os.path.join('../data', 'ratings.dat'),

   movie_id                               title                        genres  \
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

   year                  short_title
0  1995                    Toy Story
1  1995                      Jumanji
2  1995             Grumpier Old Men
3  1995            Waiting to Exhale
4  1995  Father of the Bride Part II

C:\Users\varsh\AppData\Local\Temp\ipykernel_3052\2599110875.py:12: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table(os.path.join('../data', 'movies.dat'),

### 1. Prove or disprove the following Null Hypothesis:

#### H0: Different age segments of users rate the different genres of movies similarly

- Age segments are (0-20), (21-30), (31-50), (50 and above),
- Genres - Drama, Comedy, Action, Romance, Adventure
- Rating 4 or above is a positive, else negative (used for binary votes)

#### Solution


#### Im joining the movies and ratings dataframes and setting the index a movie_id to create dummies to seperate the genres column
> ***movies_ratings*** dataframe

In [4]:
movies_ratings = (ratings
                  .set_index("movie_id")
                  .join(movies.set_index("movie_id"),
                        how="left")
                 )
movies_ratings.shape

(1000209, 7)

#### Creating seperate columns for genres by using get_dummies as they are all in one column seperated by pipe delimiter
> ***genres_dummies*** dataframe

In [5]:
genres_dummies = movies_ratings['genres'].str.get_dummies()
genres_dummies.shape

(1000209, 18)

#### Concatenate these dummies to the original movies_ratings data frame
> **full_movies_ratings** dataframe
- Also dropping genres other than Drama, Comedy, Action, Romance, Adventure

In [6]:
full_movies_ratings = (pd.concat([movies_ratings, genres_dummies], axis=1)
                       .drop(["timestamp","Animation","Children's","Crime","Documentary","Fantasy","Film-Noir","Horror","Musical","Mystery","Sci-Fi","Thriller","War","Western"], axis=1)
                )

full_movies_ratings.head()

          user_id  rating             title                       genres  \
movie_id
1               1       5  Toy Story (1995)  Animation|Children's|Comedy
1               6       4  Toy Story (1995)  Animation|Children's|Comedy
1               8       4  Toy Story (1995)  Animation|Children's|Comedy
1               9       5  Toy Story (1995)  Animation|Children's|Comedy
1              10       5  Toy Story (1995)  Animation|Children's|Comedy

          year short_title  Action  Adventure  Comedy  Drama  Romance
movie_id
1         1995   Toy Story       0          0       1      0        0
1         1995   Toy Story       0          0       1      0        0
1         1995   Toy Story       0          0       1      0        0
1         1995   Toy Story       0          0       1      0        0
1         1995   Toy Story       0          0       1      0        0

In [7]:
full_movies_ratings.reset_index(inplace=True)
full_movies_ratings.shape

(1000209, 12)

#### Merging users datafram with full_movies_ratings on user_id as common column
> ***full_users_ratings_movies*** dataframe

In [8]:
full_users_ratings_movies = pd.merge(users, full_movies_ratings, on=['user_id'], how='inner').drop(["occupation", "zip","gender"],axis=1)
full_users_ratings_movies.head()

   user_id  age  movie_id  rating                                      title  \
0        1    1         1       5                           Toy Story (1995)
1        1    1        48       5                          Pocahontas (1995)
2        1    1       150       5                           Apollo 13 (1995)
3        1    1       260       4  Star Wars: Episode IV - A New Hope (1977)
4        1    1       527       5                    Schindler's List (1993)

                                 genres  year  \
0           Animation|Children's|Comedy  1995
1  Animation|Children's|Musical|Romance  1995
2                                 Drama  1995
3       Action|Adventure|Fantasy|Sci-Fi  1977
4                             Drama|War  1993

                          short_title  Action  Adventure  Comedy  Drama  \
0                           Toy Story       0          0       1      0
1                          Pocahontas       0          0       0      0
2                           Apollo 13       0          0       0      1
3  Star Wars: Episode IV - A New Hope       1          1       0      0
4                    Schindler's List       0          0       0      1

   Romance
0        0
1        1
2        0
3        0
4        0

In [9]:
full_users_ratings_movies.shape

(1000209, 13)

# 1. Prove or disprove the following Null Hypothesis:

## H0: Different age segments of users rate the different genres of movies similarly

### - Rating 4 or above is a positive, else negative (used for binary votes)

#### Converting the ratings into binary vote
> The ratings given to the movies from 1 to 5 is concerted to binary rating that is ratings 4 or above then the rating is positive or one 
else if the rating is below 4 then the rating is negative or 0 .

In [10]:
def my_function(x):
    if x >= 4:
        return ("1")
    if x < 4:
        return ("0")
binary_vote=pd.DataFrame(full_users_ratings_movies["rating"].map(my_function))
binary_vote=binary_vote.rename({'rating': 'Binary_rating'}, axis='columns')

In [11]:
binary_vote

        Binary_rating
0                   1
1                   1
2                   1
3                   1
4                   1
...               ...
1000204             1
1000205             1
1000206             1
1000207             1
1000208             1

[1000209 rows x 1 columns]

> Concatenating binary_vote dataframe into full_users_ratings_movies dataframe

In [12]:
users_ratings_movies = (pd.concat([full_users_ratings_movies,binary_vote], axis=1))
users_ratings_movies

         user_id  age  movie_id  rating  \
0              1    1         1       5
1              1    1        48       5
2              1    1       150       5
3              1    1       260       4
4              1    1       527       5
...          ...  ...       ...     ...
1000204     6040   25      3683       4
1000205     6040   25      3703       4
1000206     6040   25      3735       4
1000207     6040   25      3751       4
1000208     6040   25      3819       5

                                              title  \
0                                  Toy Story (1995)
1                                 Pocahontas (1995)
2                                  Apollo 13 (1995)
3         Star Wars: Episode IV - A New Hope (1977)
4                           Schindler's List (1993)
...                                             ...
1000204                         Blood Simple (1984)
1000205  Mad Max 2 (a.k.a. The Road Warrior) (1981)
1000206                              Serpico (1973)
1000207                          Chicken Run (2000)
1000208                              Tampopo (1986)

                                       genres  year  \
0                 Animation|Children's|Comedy  1995
1        Animation|Children's|Musical|Romance  1995
2                                       Drama  1995
3             Action|Adventure|Fantasy|Sci-Fi  1977
4                                   Drama|War  1993
...                                       ...   ...
1000204                       Drama|Film-Noir  1984
1000205                         Action|Sci-Fi  1981
1000206                           Crime|Drama  1973
1000207           Animation|Children's|Comedy  2000
1000208                                Comedy  1986

                                 short_title  Action  Adventure  Comedy  \
0                                  Toy Story       0          0       1
1                                 Pocahontas       0          0       0
2                                  Apollo 13       0          0       0
3         Star Wars: Episode IV - A New Hope       1          1       0
4                           Schindler's List       0          0       0
...                                      ...     ...        ...     ...
1000204                         Blood Simple       0          0       0
1000205  Mad Max 2 (a.k.a. The Road Warrior)       1          0       0
1000206                              Serpico       0          0       0
1000207                          Chicken Run       0          0       1
1000208                              Tampopo       0          0       1

         Drama  Romance Binary_rating
0            0        0             1
1            0        1             1
2            1        0             1
3            0        0             1
4            1        0             1
...        ...      ...           ...
1000204      1        0             1
1000205      0        0             1
1000206      1        0             1
1000207      0        0             1
1000208      0        0             1

[1000209 rows x 14 columns]

### - Age segments (0-20), (21-30), (31-50), (50 and above)
#### Codification of Age into segments
> dividing the Age column into 4 different segments of ranges (0-20),(21-30),(31-50),(50-above) and storing it as a seperate Age_bin column

In [13]:
bins = [0,21,31,50, np.inf]
labels = ["0-20","21-30","31-50","50-above"]
users_ratings_movies['Age_bin'] = pd.cut(users_ratings_movies['age'], bins=bins, labels=labels)

Age_group = users_ratings_movies.groupby(['Age_bin'])['Binary_rating'].agg(['count'])
Age_group

           count
Age_bin
0-20      210747
21-30     395556
31-50     355126
50-above   38780

### - Genres - Drama, Comedy, Action, Romance, Adventure

#### Im considering all the movies form the respective movie genres
> Adding a condition to seperate out all the Action, Adventure, Comedy, Drama, Romance movies and also getting their Binary votes respectively.

##### Action
> Getting all action genre metioned movies and storing their binary votes into separate column

In [14]:
cols_Action= ["movie_id","age","Action","Binary_rating"]
condition_Action = users_ratings_movies["Action"] ==1

Action = pd.DataFrame(users_ratings_movies
         [cols_Action]
         [condition_Action].rename({'Binary_rating':'Action_Binary'}, axis='columns'))
Action.head()

    movie_id  age  Action Action_Binary
3        260    1       1             1
23      1197    1       1             0
27      1287    1       1             1
36      2028    1       1             1
43      2692    1       1             1

##### Adventure

> Getting all adventure genre metioned movies and storing their binary votes into separate column

In [15]:
cols_Adventure= ["movie_id","age","Adventure","Binary_rating"]
condition_Adventure = users_ratings_movies["Adventure"] ==1

Adventure = pd.DataFrame(users_ratings_movies
         [cols_Adventure]
         [condition_Adventure].rename({'Binary_rating':'Adventure_Binary'}, axis='columns'))
Adventure.head()

    movie_id  age  Adventure Adventure_Binary
3        260    1          1                1
15       919    1          1                1
23      1197    1          1                0
27      1287    1          1                1
29      1566    1          1                1

##### Comedy

> Getting all Comedy genre metioned movies and storing their binary votes into separate column

In [16]:
cols_Comedy= ["movie_id","age","Comedy","Binary_rating"]
condition_Comedy = users_ratings_movies["Comedy"] ==1

Comedy = pd.DataFrame(users_ratings_movies
         [cols_Comedy]
         [condition_Comedy].rename({'Binary_rating':'Comedy_Binary'}, axis='columns'))
Comedy.head()

    movie_id  age  Comedy Comedy_Binary
0          1    1       1             1
6        588    1       1             1
12       745    1       1             0
18      1028    1       1             1
23      1197    1       1             0

##### Drama

> Getting all Drama genre metioned movies and storing their binary votes into separate column

In [17]:
cols_Drama= ["movie_id","age","Drama","Binary_rating"]
condition_Drama = users_ratings_movies["Drama"] ==1

Drama = pd.DataFrame(users_ratings_movies
         [cols_Drama]
         [condition_Drama].rename({'Binary_rating':'Drama_Binary'}, axis='columns'))
Drama.head()

    movie_id  age  Drama Drama_Binary
2        150    1      1            1
4        527    1      1            1
5        531    1      1            1
9        608    1      1            1
15       919    1      1            1

##### Romance

> Getting all romance genre metioned movies and storing their binary votes into separate column

In [18]:
cols_Romance= ["movie_id","age","Romance","Binary_rating"]
condition_Romance = users_ratings_movies["Romance"] ==1

Romance = pd.DataFrame(users_ratings_movies
         [cols_Romance]
         [condition_Romance].rename({'Binary_rating':'Romance_Binary'}, axis='columns'))
Romance.head()

    movie_id  age  Romance Romance_Binary
1         48    1        1              1
14       914    1        1              0
23      1197    1        1              0
30      1721    1        1              1
39      2340    1        1              0